{% extends 'base.html' %}
{% load static %}
{% block head_title %} | Newsletter {% endblock %}
    {% block content %}
       {% load bootstrap_tags %}
    	<h1>{{ template_title }}</h1>

    	<div class="jumbotron">

    	<form method='POST' action=''> {% csrf_token %}
    		{{ form | as_bootstrap }}

    	{% if not "Thank you" in template_title %}
    		<input class="btn btn-lg btn-primary" type='submit' value='Sign up' />
    	{% endif %}

    	</form>
    	</div>

    {% endblock %}


<!-- {{ user }} and {{request.user }} are two context variables that do not need to be set in the view -->