__pycache__/
*.pyc

*.log

h2100/settings/pglocal.py
h2100/settings/sqlite.py
h2100/settings.py
migrations/
migrations/*

staticfiles
media
.env
Procfile.local
old_settings.py
h2100.db
*.db
db.*
backups/*
*.dump

h2100-project.sublime-project
h2100-project.sublime-workspace

venv/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/