{% extends 'base.html' %}
{% load urlify %}


    {% block content %}
        {% block jumbotron %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <h1>{{ title }}</h1>

                    <p>
                        <span style="padding-left:20px;"><em><small>{{ date }}</small></em></span>
                    </p> 

                    {% if instance.header_text %}
                        <p>
                        {{ instance.header_text }}
                        </p>
                    {% endif %}

                    <p>
                        {% if instance.image %}
                           <!-- <img src="/media/{{ single_post.image }}"> -->
                           <img src="{{ instance.image.url }}" class="img-responsive">
                        {% endif %}
                    </p><br />
                    <p>
                        {{ instance.body_text }}
                    </p>

                    <p class="pull-right">
                        Tag: {{ instance.tag }}
                    </p><br />


                <p>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                Facebook</a> | 
                <a href="https://twitter.com/home?status={{ instance.header_text|truncatechars:115|urlify }}%20{{ request.build_absolute_uri }}">
                Twitter</a> | 
                <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google Plus</a> | 
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{instance.title}}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
                Linkedin</a>
                </p>


            
                    <p>
                        Return <a href="/blog">home</a>.
                    </p><br/>
                </div>

                    <div class="col-sm-2 pull-right">
                        <h4>Popular Posts</h4>
                        <ul>
                            {% for popular_post in popular_posts %}
                                <li><a href="/blog/{{ popular_post.slug }}">{{ popular_post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% endblock %}