{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block head_title %} | About {% endblock %}

    {% block content %}
    {% block jumbotron %}

    <div class="jumbotron">
    <div class="container">
    <div class="row">
    	<div class="col-sm-9 col-sm-offset-1">


        <h1>About this site</h1>
        <p>This site started first as an experiment in learning python.</p>

        <p>My healthspan challenge is to see what I can do in these <strong>{{ days }} days</strong> remaining until my 100th b-day. That time remaining would be about <strong>{{ weeks }} weeks</strong>, or about <strong>{{ months }} solar months</strong>, ({{ lunar_months }} lunar months), or roughly <strong>{{ years }} years</strong>. Or, in conisideration of retiring to Mars, that would be about <strong>{{ mars_years }} Mars years</strong> (at 668.6 sols/Mars year).</p>

        <p>In the spirit of noteworthy markers in time, my wife, Heidi, and I became as-married at Beijing University about <strong>{{ fm_since_uc_married }} full moons</strong> ago, and we officialized that on a full moon day with family and friends <strong>{{ fm_since_of_married }} full moons</strong> ago. That would be <strong>{{ bm_since_of_married }} blue moons</strong> past.</p>

        <p> These are lunarversaries we have to look forward to during the next year.</p>
            <table>
                <tr>
                    {% for date in  moon_list  %}<td style="padding-left:30px;">&nbsp;</td>
                    <td style="padding-bottom:5px; font-size:medium"> {{ date }}</td> </tr>
                    {% endfor %}
                
            </table>
        <div class="col-sm-6 col-sm-offset-4">
        <br />
        <p class="pull-right">-- Dan Chay</p>
        </div>
        
        </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    </div><!-- jumbotron -->

    {% endblock %}
    {% endblock %}