{% extends 'base.html' %}
{% load nights_tags %}
{% block style %}   
{% endblock style %}


    {% block content %}
        {% block jumbotron %}

    <div class="jumbotron">
        <div class="container">



            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ instance.title }}</h1>

                    <p>
                        <span style="padding-left:20px;"><em><small>{{ date }}</small></em></span>
                    </p> 

                    {% if instance.tease %}
                        <!--<div  class="content-markdown">-->
                        <div class='post-item'>

                                
                                <!--{ { instance.preview } }
                                    { { instance.get_markdown_preview } }
                                </p>-->

                        </div>
                    {% endif %}

                    <!--<p>
                        { % if instance.image % }
                           
                           <img src="{ { instance.image.url } }" class="img-responsive">
                        { % endif % }
                    </p><br /> -->


                    <div class='post-item'>
                        <p>{{ instance.body | safe}}</p>
                    

                    <p>My healthspan challenge is to see what I can do in these <strong>{{ days }} days</strong> remaining until my 100th b-day. That time remaining would be about <strong>{{ weeks }} weeks</strong>, or about <strong>{{ months|safe }} solar months</strong>, ({{ lunar_months }} lunar months), or roughly <strong>{{ years }} years</strong>. Or, in consideration of retiring to Mars, that would be about <strong>{{ mars_years }} Mars years</strong> (at 668.6 sols/Mars year).</p>

                    <p>In the spirit of noteworthy markers in time, my wife, Heidi, and I became as-married at Beijing University about <strong>{{ fm_since_uc_married }} full moons</strong> ago, and we officialized that on a full moon day with family and friends <strong>{{ fm_since_of_married }} full moons</strong> ago. That would be <strong>{{ bm_since_of_married }} blue moons</strong> past.</p>

                    <p> These are lunarversaries we have to look forward to during the next year.</p>
                    </div>
                        <table>
                            <tr>
                                {% for date in  moon_list  %}<td style="padding-left:30px;">&nbsp;</td>
                                <td style="padding-bottom:5px; font-size:medium"> {{ date }}</td> </tr>
                                {% endfor %}
                        </table>
                    <div class="col-sm-6 col-sm-offset-4">
                    <br />
                        <p class="pull-right">-- Dan Chay</p>
                    </div>

                    <p class="post-item pull-left">Return <a href="/">home</a>.
                    </p>
            
                </div>
               

                <div class="col-md-3 pull-right" style="padding-top:25px;">
                    <form method='GET' action=''>{% csrf_token %}
                        <input type='text' name='q' placeholder='Search in titles and tags' value='{{ request.GET.q }}' />
                        <input type='submit' value='Search' />
                    </form><br />
                </div>

                <div class="col-md-3 pull-right">
                    <h4>Most Popular Posts</h4>
                    <ul>
                        {% for popular_post in popular_posts %}
                            <li><a href="/blog/{{ popular_post.slug }}">{{ popular_post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 pull-right"><h4>Email:</h4>
                <address> <a href="mailto:h2100email@gmail.com">Dan Chay</a></address>
                </div>




        </div>
    </div>

    {% endblock %}
    {% endblock %}