{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'contact/static/css/jumbotron-narrow.css' %}" type="text/css" />

{% endblock extra_head %}
{% block head_title %} | Contact {% endblock %}

    {% block content %}
    {% load bootstrap_tags %}
    	<div id="div_id_title" class="form-group">
    	   <label for="id_title" class="control-label required-field ">{{ title }}</label>

        <div class="jumbotron">
    	<form id="post_form" method='POST' action=''>{% csrf_token %}
    		{{ form | as_bootstrap }}

    	{% if not "Message sent. Thank you." in title %}
    		<input type='submit' value='Send' />
    	{% endif %}

    	</form>
        </div>
    	</div>
    {% endblock %}