{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'contact/static/css/jumbotron-narrow.css' %}" type="text/css" />

{% endblock extra_head %}

    {% block content %}
    	<div class="jumbotron">
    	<h1>{{ title }}</h1><br />

    	<form method='POST' action=''>{% csrf_token %}
    		{{ form.as_p }}

    	{% if not "Message sent. Thank you." in title %}
    		<input type='submit' value='Send' />
    	{% endif %}

    	</form>
    	</div>
    {% endblock %}